<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <connectionStrings>
    <clear />
    <add name="DocManagerDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DocManagerDb;user id=database_user;password=Manager123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="LogsDb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LogsDb;user id=database_user;password=Manager123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
